.App {
  margin: 20px 25px;
}

.title {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 20px;
}

.question-box {
  width: 270px;
  border: 1px solid blue;
  padding: 5px 5px;
  margin: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #A2CBFA;
  border: 1px solid #4390E1;
}

